<div class="content">
  <div class="jumbotron">
    <!-- TODO: carousel apos o service ficar pronto! -->
    <!--
    <div id="carousel-fotos" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">

        <li *ngFor="let carousel of carousel; let i = index" data-target="#carousel-fotos" [attr.data-slide-to]="i" [class.active]="i == 0"></li>

      </ol>
      <div class="carousel-inner">

        <div class="item" *ngFor="let carousel of carousel; let index = index" [class.active]="index == 0">
          <sol-carousel [carousel]="carousel"></sol-carousel>
        </div>

      </div>
      <a class="left carousel-control" href="#carousel-fotos" data-slide="prev">
      <span class="fa fa-angle-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-fotos" data-slide="next">
      <span class="fa fa-angle-right"></span>
      </a>
    </div>
  -->
  </div>
</div>
